*{
  box-sizing: border-box;
}

body{
  margin:0;
  font-family: 'Roboto' , sans-serif;
  font-size: 1rem;
  line-height: 1.5;
  overflow-x: hidden;
}

.fullscreen-video{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  overflow: hidden;

}

.fullscreen-video video{
  min-width: 100%;
  min-height: 100%;
  transform: translateX(-50%);
  margin-left: 50%;
  z-index: -100;
}

.overlay-content{
  height: 100vh;
  width: 100vw;
  position: fixed;
  top: 0;
  left:0;
  background: rgba(0, 0, 0, 0.35);
  z-index:100;
  text-align: center;

}

.overlay-content h1{
  position: relative;
  font-size: 50px;
  color: white;
  margin-top: 250px;
}
.overlay-content p{
  position: relative;
  color: white;
  font-size: 30px;
  display: block;
}

.form-wrapper{
  display: grid;
  grid-template-columns: 1fr;
  width: 450px;
  padding: 15px;
}

.sb-search-input{
  width: 330px;
  height: 40px;
  padding: 10px 5px;
  font:  bold 15px 'Roboto', 'sans-serif';
  border: 0;
  background: #fff;
  z-index: 5;
}

.sb-search-input::-webkit-input-placeholder {
   color: #999;
   font-weight: normal;
   font-style: italic;
}

.sb-search-input:-moz-placeholder {
  color: #999;
  font-weight: normal;
  font-style: italic;
}

.sb-search-input:-ms-input-placeholder {
  color: #999;
  font-weight: normal;
  font-style: italic;
}

.searchCurr {
	overflow: visible;
  position: relative;
  border: 0;
  padding: 0;
  cursor: pointer;
  height: 40px;
  width: 110px;
  font: bold 15px/40px 'Roboto', 'trebuchet MS', 'Tahoma';
  color: #fff;
  text-transform: uppercase;
  background: #d83c3c;
  -moz-border-radius: 0 3px 3px 0;
  -webkit-border-radius: 0 3px 3px 0;
  border-radius: 0 3px 3px 0;
  text-shadow: 0 -1px 0 rgba(0, 0 ,0, .3);
}

/*@@media query {max-width:960px){
  .container{
    padding-left: 3rem;
    padding-right: 3rem;
  }
}*/

}
